body {
    background-color: beige
}

img {
    width: 183px;
    height: 275px;
}

.left {
    float: left;
    width: 50%;
    flex: auto;
}

.right {
    float: right;
    width: 50%;
    flex: auto;
}

.container {
    margin:  auto;
    width: 85%;
}

.footer {
    padding-top:10px;
    display: table;
    margin-left: auto;
    flex: auto;
}